@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark label {
    background-color: white;
}

#container {
    position: fixed;
    top: 10px;
    right: 10px;
}

label {
    user-select: none;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

input {
    visibility: hidden;
}